{% load i18n %}

{% block content %}
<div id="text_content">
  <h2>{% trans "Добавить заметку" %}</h2>
    <form method="post" action="{% url 'add_note' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <p>{% trans "заголовок" %} - {{ note_form.title }}</p>
      <p>{% trans "содержимое" %} - {{ note_form.descr }}</p>
      <p>{% trans "категория" %} - {{ note_form.category }}</p>
      <p>{% trans "избранная" %} - {{ note_form.select }}</p>
      <button class="btn" type="submit">{% trans "Добавить заметку" %}</button>
    </form>
</div>
{% endblock content %}