{% extends 'index.html' %}
{% load i18n %}
{% block content %}
<ul class="note_cards">
  {% for note in notes %}
  <li class="note_card">
    <a href="{% url 'detail_note' note.id %}">
      <h1 class="note_title">{{ note.title }}</h1>
      <p class="note_descr">{{ note.descr }}</p>
      <p class="note_descr">{{ note.created_at }}</p>
      <p class="note_descr">{{ note.category }}</p>
      {% if note.select %}
      <p class="note_descr">избранная</p>
      {% endif %}
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock content %}